<div class="contact card w-50">
  <div class="card-body">
    <h5 class="card-title">INFORMACIÓN DEL CONTACTO</h5>
    <div class="card-text text-break text-center">
      <h5>Dirección</h5>
      <p>Carrera 52 # 91-66 Medellín Colombia</p>
    </div>
    <div class="card-text text-break text-center">
      <h5>Correo electrónico</h5>
      <p>usuarioapellido@hotmail.com</p>
    </div>
    <div class="card-text text-break text-center">
      <h5>Sitio Web</h5>
      <p>www.usuarioapellido.com</p>
      <p>www.linkedin.com/usuarioapellido</p>
    </div>
    <div class="card-text text-break text-center">
      <h5>Red social</h5>
      <p>usuarioapellido@hotmail.com</p>
    </div>
    <div class="card-text text-break text-center">
      <h5>Dirección de correspondencia de correo</h5>
      <p>Carrera 52 # 91-66</p>
      <p>Envigado Colombia</p>
    </div>
    <div class="card-text text-break text-center">
      <h5>Número de teléfonos</h5>
      <p>Fijo</p>
      <p>+57 (4) 313-70-00</p>
      <p>Celular</p>
      <p>(312) 313-44-77</p>
    </div>
  </div>
</div>
