<div class="container-dashboard">
  <div class="row" >
    <div class="col-7" >
      <app-search></app-search>
      <app-procedure></app-procedure>
    </div>
    <div class="col-5 p-5 slider" >
      <div class="card mx-5">
        <div class="card-img-top" >
        <img src="assets/img/slide-1.png" alt="servicio Quipux" class="img-fluid">
          <h5 class="card-title">SERVICIOS QUIPUX</h5>
          <div class="card-img-overlay">
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title text-secondary">Trámites en tu mano</h5>
          <div class="card-text ">ahora podrás hacer todos tus trámites desde la comodida de tu casa,
            desde cualquier dispositivo computadora, tablet o móvil

            <div class="mt-2">
              <div class="slider-nav">
                  <div class="d-inline-block"><<span class="text-secondary font-weight-bold">1</span></div>
                  <span class="d-inline-block">/</span>
                  <div class="d-inline-block"><span>4</span> ></div>
              </div>
              <div class="progress progress-line-info">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                  <span class="sr-only">60% Complete</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

