<div class="card-group">
<div class="card">
  <div class="card-body">
    <h6 class="card-title text-primary">Certificado</h6>
    <p class="card-text ">Conoce los beneficios que tenemos para ti al registrarte</p>
    <button type="button" class="btn btn-outline-success"> beneficios</button>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h6 class="card-title  text-primary">Crear Cuenta</h6>
    <p class="card-text ">Conoce los beneficios que tenemos para ti al registrarte</p>
    <button type="button" class="btn btn-outline-success">Ver Todo</button>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h6 class="card-title text-primary">Top trámites</h6>
    <p class="card-text ">Conoce los Trámites más solicitados</p>
    <button type="button" class="btn btn-outline-success">Ver todo</button>
  </div>
</div>
</div>
