<a *ngIf="menuItem" href="#{{menuItem?.key}}" data-toggle="collapse" aria-expanded="false" class=" list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-start align-items-center">
      <fa-icon class="mr-3" [icon]="menuItem.icon"></fa-icon>
      <span class="menu-collapsed"> {{menuItem?.text}}</span>
      <span class="submenu-icon ml-auto"></span>
  </div>
</a>
<!-- Submenu content -->
<div *ngIf="menuItem" id='{{menuItem?.key}}' class="collapse sidebar-submenu">
  <app-sidebar-submenu-item *ngFor="let ItemSubMenu of menuItem?.SubMenuItems" [ItemSubMenu]="ItemSubMenu" ></app-sidebar-submenu-item>
</div>
